@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=MedievalSharp&display=swap');

.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(130vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(109vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  background-color: #272424;
  /* border-bottom: 2px solid #32b9cd; */
}

.header img{
  width: 60px;
  height: 65px;
}

.imagem{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #EAEACE;
  font-size: 18px;
  font-weight: 700;
}
.header a:hover{
  color: #C563EF;
}

.agora {
  color: #C563EF;
}

.navbar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: #EAEACE;
}

.navbar-entrar {
  list-style: none;
}

.titulo {
  color: #EAEACE;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
  font-weight: 500;
  font-family: "Freeman", "sans-serifs";
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: #EAEACE;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 55%, rgba(0,0,0) 100%), 
    url('../assets/imgs/banner.jpg');
  background-size: cover;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container button{
  border-radius: 10px;
  background-color: #C563EF;
  height: 40px;
  border: 0;
  margin: 40px 0 0 25%;
  align-self: flex-start;
  width: 200px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.container button:hover{
  background-color: #a247c9;
}


.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 70px;
  font-family: "Freeman", sans-serif;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  margin-top: 100px;
  background-color: #1f1f1f00;
  display: flex;
  color: white;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 150px;
  height: 150px;
}

#imagemFicha{
  height: 210px;
  width: 310px;
  border: 2px solid white;
  border-radius: 10px;
  transform: rotate(-10deg);
}

.social .container .boxes {
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: left;
  margin-left: 40px;
}

.social h4{
  font-size: 30px;
  margin-bottom: 10px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.textoHome{
  width: 50%;
}

/* FOOTER */

.footer {
  margin-top: 100px;
  background-color: #272424;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/background-login.png');
  background-size: cover;
  background-position: bottom;
}

.login .container {
  justify-content: left;
  align-items: center;
  height: 100%;
}

.card {
  width: 40%;
  background-color: #EAEACE;
  border: 3px solid black;
  outline: 5px solid #EAEACE;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  margin-top: 2%
}

.card h2 {
  font-family: "Freeman";
  margin: 2% 0 9%;
  font-size: 45px;
}


.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "MedievalSharp", cursive;
}

.formulario input {
  font-size: 15px;
  border: 0px ;
  border-bottom: 2px solid #000000;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px 10px 10px 3%;
  background-color: transparent;
}

.formulario input:focus {
    outline: none; 
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "MedievalSharp", cursive;
  border: 3px solid black;
  /* border-style: outset; */
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: transparent;
  width: 125px;
  height: 35px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.card a{
  color: black;
  font-family: "MedievalSharp", cursive;
  margin-top: 10px;
  align-self: center;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

/* .formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
 */
/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}


/* Ficha */
.top_ficha {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.btn_ficha {
  cursor: pointer;
  font-size: 20px;
  width: 198px;
  height: 41px;
  border-width: 0;
  border-radius: 10px;
  background-color: #9130BB;
  font-weight: 800;
  color: #fff;
}

.card_fichas {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card_acessar {
  display: flex;
  flex-direction: column;
  background-color: #EAEACE;
  border: 3px solid black;
  outline: 5px solid #EAEACE;
  width: 400px;
  margin: 30px;
}

#apagarFicha {
  background-image: url("../assets/imgs/close.png");
  background-color: transparent;
  background-size: cover;
  border: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 5px;
  margin-top: 5px;
}

.titulo_fichas {
  margin: 0 20px 0 5px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 25px;
  height: 40px;
}

.titulo_fichas p{
  margin: 10px 0 0 0;

}

.descri_fichas {
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  font-weight: 700;
  font-size: 15px;
}

.descri_fichas p{
  margin: 0;
}

.btn_acessar-ficha {
  align-self: self-end;
  font-size: 15px;
  height: 25px;
  width: 110px;
  margin: 10px;
  border-width: 0;
  border-radius: 5px;
  background-color: #9130BB;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}

/* Histórico Rolagens */
.kpi-rolagens {
  font-size: 20px;
  font-weight: 800;
  text-align: center;

}

.kpi-rolagens p{
  margin: 0;
}

.kpi-rolagens span{
  font-size: 30px;
  margin-top: 0;
}

.acerto{
  color: #17de4d;
}

.total{
  color: #ffff;
}

.erro{
  color: #eb1919;
}

.historico {
  margin-left: 200px;
  margin-right: 200px;
}

.descri_rolagens{
  margin: 5px 25px;
  font-weight: 700;
  font-size: 15px;
}

.descri_rolagens p{
  margin: 5px 0 0 0;
}

.descri_rolagens .acertos{
  color: #13B23E;
}

.descri_rolagens .erros{
  color: #B21313;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}